################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SoftwareCraftmanship/v15
/FizzBuzzKata/obj
/FizzBuzzKata/bin/Debug/netcoreapp2.0
/WordWrapKata/bin/Debug/netcoreapp2.0
/WordWrapKata/obj
/WordHistorgramKata/bin/Debug/netcoreapp2.0
/WordHistorgramKata/obj
/RomanNumeralsKata/bin/Debug/netcoreapp2.0
/RomanNumeralsKata/obj
/LinkedListKata/obj/Debug/netcoreapp2.0
/LinkedListKata/obj
/LinkedListKata/bin/Debug/netcoreapp2.0
/MobilePhoneBillingKata/bin/Debug/netcoreapp2.0
/MobilePhoneBillingKata/obj
/ShippingCostsKata/bin/Debug/netcoreapp2.0
/ShippingCostsKata/obj
/ArithmeticExpressionsKata/bin/Debug/netcoreapp2.0
/ArithmeticExpressionsKata/obj
/MarsRoverKata/bin/Debug/netcoreapp2.0
/MarsRoverKata/obj
