################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SoftwareCraftmanship/v15
/FizzBuzzKata/obj
/FizzBuzzKata/bin/Debug/netcoreapp2.0
/WordWrapKata/bin/Debug/netcoreapp2.0
/WordWrapKata/obj
/WordHistorgramKata/bin/Debug/netcoreapp2.0
/WordHistorgramKata/obj
/RomanNumeralsKata/bin/Debug/netcoreapp2.0
/RomanNumeralsKata/obj
